@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); 

.header {
    /* padding-top: 7px; */
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 50;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #ceb9fb, rgb(79, 3, 79));
    min-width: 1150px;
    /* max-width: 1365px; */
    padding: 5px 50px;
    margin: 0 auto;
    height: 80px;
    box-shadow: 0 4px 40px #00000014;
    /* border-radius: 50px; */
}

.groc-name {
    font-family: 'Raleway', sans-serif;
    color: #45256e;
    font-size: 40px;
    font-variant: small-caps;
}

.flex {
    display: flex;
}

.img-logo {
    width: 75px;
}

.logout i {
    font-size: 25px;
}

.heart{
    font-size: 40px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.heart:hover{
    transform: scale(1.3);
}

.img-cart {
    width: 50px;
    border-radius: 50%;
}

.cart-count {
    display: flex;
    top: -12px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(176, 4, 104);
    /* background-color: #bd2e95; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

@keyframes scalePulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.cart-count.animate,
.heart.animate {
    animation: scalePulse 0.3s ease;
}

.search {
    border-radius: 5px;
    border: 1px solid rgba(00, 00, 00, 0.3);
    width: 500px;
    padding: 16px;
    padding-left: 40px;
    margin-right: 15px;
    font-size: 14px;
    color: rgba(00, 00, 00, 0.6);
}

.search-icon {
    top: 50%;
    left: 10px;
    transform: translateY(-60%);
    color: gray;
}

.login {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-right: 15px;
    width: 100px;
    font-size: 12px;
    /* background-color: white; */
    color: purple;
    cursor: pointer;
}

.bor-rad {
    border-radius: 5px;
}

.rel {
    /* border: 1px dashed red; */
    /* display: inline-block; */
    position: relative;
}

.abs {
    position: absolute;
}

/* .fixed {
    position: fixed;
} */