/* .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 51;
} */

.pop-up {
    z-index: 51px;
}

.login-page {
    position: relative;
    background-color: #fff;
    padding: 25px;
    width: 300px;
    border: 3px solid rgba(128, 0, 128, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 45px;
}

h1 {
    font-size: 32px;
    color: purple;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 270px;
    border-bottom: 2px solid rgba(128, 0, 128, 0.1);
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus~label,
input:valid~label,
input.has-content~label {
    top: -5px;
    font-size: 12px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #000;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #000;
    font-size: 18px;
    top: 20px;
}

/* .forget {
    margin: 35px 0;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: purple;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
} */

.log-btn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(128, 0, 128, 0.5);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease;
    /* margin: 20px 0 20px 0; */
    margin-top: 20px;
}

.log-btn:hover {
    background-color: purple;
}

.register {
    font-size: 14px;
    color: #000;
    text-align: center;
    margin: 20px 0 25px 0;
}

.tal {
    text-align: left;
}

.register p a {
    text-decoration: none;
    color: purple;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/* .error {
    border: 1px solid red;
} */

.error-text {
    display: block;
    color: red;
    font-size: 0.85rem;
    /* margin-top: 4px; */
    /* width: 100%; */
    /* word-wrap: break-word; */
}

.toggle-password {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 12px;
    /* color: #800080; */
    cursor: pointer;
    user-select: none;
}

.valid-icon {
  position: absolute;
  right: 8px;
  top: 20px;
  font-size: 18px;
  color: green;
  pointer-events: none;
}
