.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* z-index: 1000; */
    text-align: center;
    width: 300px;
    max-width: 90%;
}

.tick {
    color: purple;
    font-size: 24px;
}

.modal h2 {
    color: purple;
    font-weight: 500;
}

.modal p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.modal button {
    padding: 8px 16px;
    background-color: rgba(128, 0, 128, 0.5);
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: purple;
}